<div class="shogun-root" data-shogun-id="646e81fe7ed0ee00c8128df9" data-shogun-site-id="1c68e191-0bc9-478f-8b95-eaced89031a7" data-shogun-section-id="646e81fe7ed0ee00c8128df9" data-shogun-section-version-id="646fa76b7ed0ee00d1582e2b" data-shogun-platform-type="shopify" data-shogun-variant-id="646fa76c7ed0ee00d1583133" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-05-23-3112/646fa76c7ed0ee00d1583133.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bebas+Neue:|Open+Sans:|Open+Sans:400|Poppins:400" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-14e746b7-253f-45c4-aa61-a4c0c06c5f85"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-de6866cf-2630-40cd-be54-1f1c92fd0327"  class="shg-c  ">
  <div id="package"></div><br /><br />

</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-91a0b237-f296-4e6a-8e9e-3f4848603b5e"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-588c3e80-a0f6-4ebf-9408-a430be6a9465"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 56px; text-align: center;"><span style="font-size: 60px; font-family: 'Bebas Neue'; color: #ffffff;"><strong>START YOUR FLORIDA REAL ESTATE career<br></strong></span><span style="color: #ffffff; font-size: 22px;">Choose the Course Bundle Right to Start Your New Career!</span></p></div>

</div>

      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-32167461-a1ad-4b81-bf4b-a0c8bb44677d"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
  <div
    class="shg-c  "
    id="s-9a962f06-9905-4a26-be25-9c8786ed303d"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-e1343bc8-b95e-4e86-a7de-f1207605d094"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-44488902-d324-4e7c-b5e1-e9189236d0cd"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-family: 'Open Sans'; font-size: 16px; letter-spacing: 3px;">ACCELERATE YOUR CAREER</span></p></div>

</div>

      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-29c2fc6b-ae91-4bf1-b56c-cb031c6e78ad"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-e3f18962-fa81-4efe-880a-697d6b5a25c1"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 30px; text-align: center;"><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">COMPLETE JUMPSTART BUNDLE</span></p></div>

</div>
<div id="s-65568e37-8fda-4f95-a5e2-e33463495124"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 12px; letter-spacing: 4px; color: #808080;"><strong><span style="font-family: 'Open Sans';">+ POST LICENSING TO JUMPSTART YOUR CAREER</span></strong></span></p></div>

</div>
<div id="s-e1993855-25c8-40fa-a989-5a97ae038596"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-family: 'Open Sans'; font-size: 20px;"><span style="text-decoration: line-through; color: #808080; font-weight: 200; font-size: 14px;">$1997 </span><span style="font-size: 24px;"><strong><span style="font-size: 30px;">{{product.variants[0].price | plus:25000 | money_without_trailing_zeros}}</span></strong></span></span></p></div>

</div>
<div id="s-25118281-0ace-4c24-bc31-83b6e64f988f"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 20px; text-align: center;"><span style="font-size: 14px;"><em>or 4 Payments </em></span><span style="font-size: 16px;"><span style="font-size: 14px;"><em>of</em> &nbsp;</span><span style="font-size: 20px;"><strong>{{product.variants[0].price | plus:25000 | divided_by: 4 | money_without_trailing_zeros}}!</strong></span></span></p></div>

</div>
<div id="s-6757d771-be34-4f5c-acf3-6481f646aced-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-6757d771-be34-4f5c-acf3-6481f646aced"
    class="shg-btn shg-cse "
    href="/cart/33480025636995:1,33097690349699:1,36655747530911:1,43289174835452:1,36758906306719:1,{{product.variants[0].id}}:1"
    >
      <b>JUMPSTART CAREER</b>
  </a>
</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-62a506d4-9f3d-4586-a646-0d93c72409fe"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-252cd3b1-cfc1-4eb7-ab97-df22ed27fcd7"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      FREC COURSE + JUMPSTART BUNDLE
    
  </h4>
</div>

</div>
<div id="s-12ef091d-990a-4a32-921d-a8b0942c085a"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Video On-Demand FL 63-Hour Sales Associate Pre-Licensing Online Course
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        

<div class="s-9210622d-2b9f-4865-a37d-96e98b6e57d9 shg-align-container">
  <div
    class="shg-c s-9210622d-2b9f-4865-a37d-96e98b6e57d9 shogun-image-container    shg-align-center"
    style="opacity: 1;"
    id="s-9210622d-2b9f-4865-a37d-96e98b6e57d9">
    <div class="shg-image-content-wrapper">
      
        
          <img
            
            
            src="https://i.shgcdn.com/02edf6bb-b8d7-42cb-b193-a8a0d3e2c478/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
            width=""
            height=""
            style=""
            alt=""
            class="shogun-image "
            decoding="async"
            loading="lazy"
          />
        
      
      
      
      
    </div>
  </div>
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ hoverImage: '', uuid: 's-9210622d-2b9f-4865-a37d-96e98b6e57d9' })
  </script>

<div id="s-0de3a5dc-79b3-49a8-8eb3-ef0561edc433"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 16px;"><strong>Florida Real Estate Commission (FREC)</strong> Required Pre-Licensing Course</span></p>
<p style="text-align: left; line-height: 32px;"><span style="font-size: 16px;"><strong>365 Day Access</strong> - Even after Completion for Any State Exam Review</span></p>
<p style="text-align: left; line-height: 32px;"><span style="font-size: 16px;"><strong>Short Easy to Follow Videos</strong></span></p>
<p style="text-align: left; line-height: 32px;"><span style="font-size: 16px;"><strong>Enroll Now for Instant Access!</strong></span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Desktop or Mobile
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        

<div class="s-17d11c2c-abd5-40cd-a94e-e80574df29cc shg-align-container">
  <div
    class="shg-c s-17d11c2c-abd5-40cd-a94e-e80574df29cc shogun-image-container    shg-align-center"
    style="opacity: 1;"
    id="s-17d11c2c-abd5-40cd-a94e-e80574df29cc">
    <div class="shg-image-content-wrapper">
      
        
          <img
            
            
            src="https://i.shgcdn.com/aaa3d5ff-bb16-4791-b23e-a443b77191a8/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
            width=""
            height=""
            style=""
            alt=""
            class="shogun-image "
            decoding="async"
            loading="lazy"
          />
        
      
      
      
      
    </div>
  </div>
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ hoverImage: '', uuid: 's-17d11c2c-abd5-40cd-a94e-e80574df29cc' })
  </script>

<div id="s-211451d2-6c5b-4c6c-a383-63a28f412a30"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 16px;">Complete the Course from <strong>Any Device From Anywhere</strong>, <em>Even <strong>Offline</strong></em> with the <strong>TSRE App!</strong></span></p>
<p style="text-align: left; line-height: 32px;"><em><span style="font-size: 16px;"><strong>Easier access to your course = <br>easier to complete your course.</strong></span></em></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Textbook Included
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        

<div class="s-d82eb975-cca2-46b9-943a-b6af95c312d4 shg-align-container">
  <div
    class="shg-c s-d82eb975-cca2-46b9-943a-b6af95c312d4 shogun-image-container    shg-align-center"
    style="opacity: 1;"
    id="s-d82eb975-cca2-46b9-943a-b6af95c312d4">
    <div class="shg-image-content-wrapper">
      
        
          <img
            
            
            src="https://i.shgcdn.com/74de98ae-c295-435d-ade9-d7215f125c20/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
            width=""
            height=""
            style=""
            alt=""
            class="shogun-image "
            decoding="async"
            loading="lazy"
          />
        
      
      
      
      
    </div>
  </div>
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ hoverImage: '', uuid: 's-d82eb975-cca2-46b9-943a-b6af95c312d4' })
  </script>

<div id="s-fe08a435-aa50-4940-bbd4-435f76dd6111"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 22px;"><span style="font-size: 16px;">Includes <strong>physical textbook</strong> to follow along as you progress through the course! </span></p>
<p style="text-align: left; line-height: 22px;"><span style="font-size: 16px;"><em>Great for <strong>taking notes and highlighting.</strong></em></span></p>
<p style="text-align: left; line-height: 22px;"><span style="font-size: 16px;"><em><strong>Includes Quzizzes, Practice Exam, Charts, Diagrams &amp; More!</strong></em></span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ 1-Year Retake Guarantee
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-a5fd042c-e864-4b06-9ccf-48cf9aa944be"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p>f you don't pass your end-of-course exam <em><strong>you're backed by our 1-Year Retake Guarantee</strong></em>.</p>
<p>The FREC requires you to wait 30 days before re-testing. If you still don't pass after re-testing, you can <strong>retake the course at no charge within 1-year of your registration date.</strong></p>
<p><strong>Trying to pass on the first try?</strong> Rest assured, this typically isn't a concern with our <strong>video on-demand course pass rate of 97%!</strong></p></div>

</div>

      </div>
    </div>
  
</div>

</div>
<div id="s-eafd89df-84c4-490f-b466-cc53b4c09317"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      INCLUDES ALL EXAM PREP
    
  </h4>
</div>

</div>
<div id="s-aaa4f3c3-ebb9-44f7-9f56-6aa06471baf7"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Pass First Try Exam Prep 
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        

<div class="s-c294fc3e-5f78-418a-be07-755acd543568 shg-align-container">
  <div
    class="shg-c s-c294fc3e-5f78-418a-be07-755acd543568 shogun-image-container    shg-align-center"
    style="opacity: 1;"
    id="s-c294fc3e-5f78-418a-be07-755acd543568">
    <div class="shg-image-content-wrapper">
      
        
          <img
            
            
            src="https://i.shgcdn.com/5a0561d7-7032-4b9f-9f68-563c5e93b917/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
            width=""
            height=""
            style=""
            alt=""
            class="shogun-image "
            decoding="async"
            loading="lazy"
          />
        
      
      
      
      
    </div>
  </div>
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ hoverImage: '', uuid: 's-c294fc3e-5f78-418a-be07-755acd543568' })
  </script>

<div id="s-ae4a2813-3f42-4a13-bbd2-a6767a286b28"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><em><strong>Don't waste your time studying on your own!</strong></em></p>
<p>The Pass First Try strategy was designed to <strong>take the guess work out of passing your exams.</strong></p>
<p>It's not required, but if you value your time and want to <strong>simplify studying for the exams</strong>, these tools will guide you through <strong>exactly what you need to review.</strong></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ MP3 Online Audio Review
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        

<div class="s-f151f3d9-7fe0-4491-abb4-4438a1e6065f shg-align-container">
  <div
    class="shg-c s-f151f3d9-7fe0-4491-abb4-4438a1e6065f shogun-image-container    shg-align-center"
    style="opacity: 1;"
    id="s-f151f3d9-7fe0-4491-abb4-4438a1e6065f">
    <div class="shg-image-content-wrapper">
      
        
          <img
            
            
            src="https://i.shgcdn.com/ba044d63-de83-4165-a7ee-63be01eb2701/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
            width=""
            height=""
            style=""
            alt=""
            class="shogun-image "
            decoding="async"
            loading="lazy"
          />
        
      
      
      
      
    </div>
  </div>
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ hoverImage: '', uuid: 's-f151f3d9-7fe0-4491-abb4-4438a1e6065f' })
  </script>

<div id="s-60db52ac-80b2-4845-bd5f-3d349b9f68cc"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 22px;"><span style="font-size: 16px; font-family: 'Open Sans';">Condense the <strong>most important points of the course</strong> down to just <strong>five hours</strong>, and what do you get? The MP3 Audio Review.</span></p>
<p style="text-align: left; line-height: 22px;"><span style="font-size: 16px; font-family: 'Open Sans';">Repetition is essential, but <em>you don't have to memorize every last detail</em> of the 63 hour course!</span></p>
<p style="text-align: left; line-height: 22px;"><span style="font-size: 16px; font-family: 'Open Sans';">Start by <strong>focusing on the key points</strong> covered in the MP3 Audio Review.</span></p>
<p style="text-align: left; line-height: 22px;"><span style="font-size: 16px; font-family: 'Open Sans';">Listen anytime you can, <strong>on your computer</strong> at work <strong>or on the app</strong> at the gym!</span></p>
<p style="text-align: left; line-height: 22px;"><span style="font-size: 16px; font-family: 'Open Sans';">We've even heard great results from students <strong>sleeping with the audio!</strong></span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Question Simulator
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-8366f4e4-9e3d-401c-adf2-01330d8a0a32"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';">Test Your Knowledge with 700+ Practice Questions &amp; Explanations</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Prep Recordings
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-3367ac1f-07d1-4fa7-984c-fc669f4186be"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';">Build Your Confidence in a 14 Hour Condensed Video Review - Recorded Live</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Exam Prep Workbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-033da891-b61d-4021-8e9a-0ece44c4d076"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';">Condensed Review - 20% Length of Textbook</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Secrets of the Exam
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-3f536715-d8f6-43cf-8634-6bda96a5968b"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';"><span style="font-size: 18px;">Tips &amp; Tricks to Prepare for the Exams</span></span></p></div>

</div>

      </div>
    </div>
  
</div>

</div>
<div id="s-35571fb9-f6ca-4610-8889-de6e36cc5f9d"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      REQUIRED AFTER LICENSED
    
  </h4>
</div>

</div>
<div id="s-aa55043a-9a61-4ce3-9d65-6983d96c2607"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Instructor-Led On-Demand FL 45-Hour Sales Associate Post Licensing Online Course
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        

<div class="s-ebf19b4f-2fb6-4594-a46a-c1ecb3203e01 shg-align-container">
  <div
    class="shg-c s-ebf19b4f-2fb6-4594-a46a-c1ecb3203e01 shogun-image-container    shg-align-center"
    style="opacity: 1;"
    id="s-ebf19b4f-2fb6-4594-a46a-c1ecb3203e01">
    <div class="shg-image-content-wrapper">
      
        
          <img
            
            
            src="https://i.shgcdn.com/13c018c8-94c2-4d68-a409-599b956b5737/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
            width=""
            height=""
            style=""
            alt=""
            class="shogun-image "
            decoding="async"
            loading="lazy"
          />
        
      
      
      
      
    </div>
  </div>
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ hoverImage: '', uuid: 's-ebf19b4f-2fb6-4594-a46a-c1ecb3203e01' })
  </script>

<div id="s-7eab0380-6b38-4d28-8d04-11f5a8926535"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Jumpstart Your New Career by Taking Post Licensing As Soon as Your're Licensed! <strong><em>Course Focuses on Building Business vs Exam Prep.</em></strong></span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Pre-Registration Savings
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-44fd3144-51de-4cc0-9ae2-a8a74e9699f9"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Secure the biggest savings now and activate post licensing course when ready to start.</span></p></div>

</div>

      </div>
    </div>
  
</div>

</div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-9e9fdc3f-82ee-46e3-8833-e003ad132de9"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-c35bc3d1-43aa-4669-9667-9ad4e7197998"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-family: 'Open Sans'; font-size: 16px; letter-spacing: 3px;">ACE THE EXAMS</span></p></div>

</div>

      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-18272369-be05-4335-b1a5-f98d7eff24ce"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-cb5a2945-b205-4b85-8fc9-c7ba730993e4"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 30px; text-align: center;"><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">PASS FIRST TRY BUNDLE</span></p></div>

</div>
<div id="s-565a2ee5-9094-4f75-a2c2-7ce0368edb4a"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 12px; letter-spacing: 4px; color: #808080;"><strong><span style="font-family: 'Open Sans';">+ PREP TOOLS TO ACE THE EXAM</span></strong></span></p></div>

</div>
<div id="s-dd078eb1-f316-4c66-951e-58efc4b36b16"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-family: 'Open Sans'; font-size: 20px;"><span style="text-decoration: line-through; color: #808080; font-weight: 200; font-size: 14px;">$1497 </span><span style="font-size: 24px;"><strong><span style="font-size: 30px;">{{product.variants[0].price | plus:15000 | money_without_trailing_zeros}}</span></strong></span></span></p></div>

</div>
<div id="s-35f5e579-60b6-49b2-b1a9-4123753928e2"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-size: 14px;"><em>or 4 Payments </em></span><span style="font-size: 16px;"><span style="font-size: 14px;"><em>of</em></span><span style="font-size: 20px;"> <strong>{{product.variants[0].price | plus:15000 | divided_by: 4 | money_without_trailing_zeros}}</strong></span></span></p></div>

</div>
<div id="s-a04114f4-d62a-4a8e-bfcb-0a314558e51a-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-a04114f4-d62a-4a8e-bfcb-0a314558e51a"
    class="shg-btn shg-cse "
    href="/cart/33480025636995:1,33097690349699:1,36655747530911:1,36758906306719:1,{{product.variants[0].id}}:1"
    >
      <b>GET READY TO PASS</b>
  </a>
</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-887dc6cb-5962-4cac-a975-80d561ca2b84"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-8b384327-0aba-4198-9ca1-f1f4272408e4"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      INCLUDES ALL EXAM PREP
    
  </h4>
</div>

</div>
<div id="s-35643569-aaeb-4375-9c06-c0e29ad8d1b2"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Pass First Try Bundle
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        <div id="s-b7b12591-4533-412c-b6a3-d3d264b19b88"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Add Exam Prep Specifically Designed to Cut Through to the Most Essential Need-to-Know Information Only. Take the Guesswork Out of Studying.</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ MP3 Online Audio Review
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-68e2c73d-576a-4675-a71a-c98f8a18153a"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';">5 Hour Condensed Key Points - Listen on Repeat Anytime You Can</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Question Simulator
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-fc2f5c3c-a2d0-40ab-a92c-869c6c4ae413"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';">Test Your Knowledge with 700+ Practice Questions &amp; Explanations</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Prep Recordings
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-2fac474f-961e-4c32-a95b-175624d9338a"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';">Build Your Confidence in a 14 Hour Condensed Video Review - Recorded Live</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Exam Prep Workbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-bc0e0c8b-766b-403a-a1c5-5ae555d1387b"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';">Condensed Review - 20% Length of Textbook</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Secrets of the Exam
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-3f56bddb-a232-4382-9618-06c8c6e2c029"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px; font-family: 'Open Sans';"><span style="font-size: 18px;">Tips &amp; Tricks to Prepare for the Exams</span></span></p></div>

</div>

      </div>
    </div>
  
</div>

</div>
<div id="s-dccf1a42-92d1-4f25-a37b-91b04b26b0d8"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      FREC COURSE INCLUDED
    
  </h4>
</div>

</div>
<div id="s-34572625-7088-4930-bbd6-bb7665e1e252"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Instructor-Led On-Demand FL 63-Hour Sales Associate Pre-Licensing Online Course
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-c752f1a9-c6f4-480e-94bb-fed48783c595"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Florida Real Estate Commission (FREC) Required Pre-Licensing Course - 24x7x365 Access</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Mobile Compatible
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-15acf795-a3d4-4700-868f-722f446badd4"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Short Easy to Follow Segments that Can Be Completed From Anywhere.</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Course Textbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-3c3b766d-1055-413c-969d-639320c4e6d0"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Dearborn Principles, Practices &amp; Law</span></p></div>

</div>

      </div>
    </div>
  
</div>

</div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
      
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-c7d4c928-6f01-4f02-bf22-94c8469bdd51"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-17633d1c-299f-4cd5-b75c-5b0de85c2528"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-family: 'Open Sans'; font-size: 16px; letter-spacing: 3px;">GET STARTED</span></p></div>

</div>

      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-7874c72f-b26b-4463-8ed4-35b47980a59c"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-5654a870-a0e6-420a-bb40-6c54950a6d53"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 30px; text-align: center;"><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">COURSE </span><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">ESSENTIALS</span></p></div>

</div>
<div id="s-ca69bc00-c061-42bc-94f4-31acc53f54c9"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 12px; letter-spacing: 4px; color: #808080;"><strong><span style="font-family: 'Open Sans';">COURSE + TEXTBOOK</span></strong></span></p></div>

</div>
<div id="s-33d089b5-508c-4bd8-a52f-77cccb73cb35"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-family: 'Open Sans'; font-size: 20px;"><span style="text-decoration: line-through; color: #808080; font-weight: 200; font-size: 14px;">$997 </span><span style="font-size: 24px;"><strong><span style="font-size: 30px;">{{product.variants[0].price | money_without_trailing_zeros}}</span></strong></span></span></p></div>

</div>
<div id="s-ae20e440-e874-4e5d-922a-6af6a1f9c522"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 20px; text-align: center;"><span style="font-size: 14px;"><em>or 4 Payments </em></span><span style="font-size: 16px;"><span style="font-size: 14px;"><em>of</em> </span><strong>{{product.variants[0].price | divided_by: 4 | money_without_trailing_zeros}}</strong></span></p></div>

</div>
<div id="s-6792da44-0d57-4434-a9e8-b5a8f65687b3-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-6792da44-0d57-4434-a9e8-b5a8f65687b3"
    class="shg-btn shg-cse "
    href="/cart/33097690349699:1,36655747530911:1,{{product.variants[0].id}}:1"
    >
      <b>GET STARTED</b>
  </a>
</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-4c4cb8f3-e0ed-436b-b10e-eb72c5865ff7"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-1e4a3316-816a-4f05-b350-caf610d40c01"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      FREC COURSE INCLUDED
    
  </h4>
</div>

</div>
<div id="s-1dfc6618-d772-4f30-bb70-803183f40dfb"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Instructor-Led On-Demand FL 63-Hour Sales Associate Pre-Licensing&nbsp;Online Course
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        <div id="s-cbfabdfe-79db-47f2-a96c-eb27c425c670"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Florida Real Estate Commission (FREC) Required Pre-Licensing Course - 24x7x365 Access</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Mobile Compatible
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-10a19788-b409-406e-9e49-e3d0cc0a33cd"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Short Easy to Follow Segments that Can Be Completed From Anywhere.</span></p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Course Textbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-2cb988bd-c98b-444a-9142-4f1ed187fa1f"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left; line-height: 32px;"><span style="font-size: 18px;">Dearborn Principles, Practices &amp; Law</span></p></div>

</div>

      </div>
    </div>
  
</div>

</div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>

      </div>
    </div>
  </div>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-05-23-3112/global-assets-f5602d18bd5dc4e288d52d5a81f2bb4516bea9ca.js" defer></script>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-05-23-3112/add_ons_asset_646fa76c7ed0ee00d1583133.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Copy of VBIT Packages",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=646e81fe7ed0ee00c8128df9&shop=tampaschoolofrealestate.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Copy of VBIT Packages",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
