<div class="shogun-root" data-shogun-id="646e8ca2055ba900d73460ac" data-shogun-site-id="1c68e191-0bc9-478f-8b95-eaced89031a7" data-shogun-section-id="646e8ca2055ba900d73460ac" data-shogun-section-version-id="646fa6f737897800f43d1179" data-shogun-platform-type="shopify" data-shogun-variant-id="646fa6f837897800f43d149f" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-05-23-3112/646fa6f837897800f43d149f.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bebas+Neue:|Open+Sans:|Open+Sans:400|Poppins:400" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-bf2ad8e2-985f-4df6-b6fb-16e7b772c86c"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-6aa11cb7-7d29-43d0-93f2-3c8ea8a76aa9"  class="shg-c  ">
  <div id="package"></div><br /><br />

</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-c8c13a49-4978-4bb2-ae4e-14b7cf115e80"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-90711b03-eeae-4cd6-9931-9ed9e174719a"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 56px; text-align: center;"><span style="font-size: 60px; font-family: 'Bebas Neue'; color: #ffffff;"><strong>START YOUR FLORIDA REAL ESTATE career<br></strong></span><span style="color: #ffffff; font-size: 22px;">Choose the Course Bundle Right to Start Your New Career!</span></p></div>

</div>

      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-edb7d6c7-847e-4d7e-85a3-0239af1e83c4"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
  <div
    class="shg-c  "
    id="s-a9199816-7ccf-4127-bd35-b982977c4978"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-d7bae6ae-3f58-4540-bd09-e3ac4e067f5f"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-d91a13fc-bbd8-4d0f-9f63-54086ede997e"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><strong><span style="font-family: 'Open Sans'; font-size: 16px; letter-spacing: 3px;">ACCELERATE YOUR CAREER</span></strong></p></div>

</div>

      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-965058ba-c4cd-439e-83fe-624951cc5b2c"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-bbac17da-9321-47e8-8541-06730bdb4c2b"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 30px; text-align: center;"><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">COMPLETE JUMPSTART BUNDLE</span></p></div>

</div>
<div id="s-5c87a51d-17a4-4871-a0f9-69ab5a0f5cd9"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 12px; letter-spacing: 4px; color: #808080;"><strong><span style="font-family: 'Open Sans';">+ POST LICENSING TO JUMPSTART YOUR CAREER</span></strong></span></p></div>

</div>

  <div
    class="shg-c  "
    id="s-073f8ae4-1181-45a8-9fb9-c35b14f61eda"
    >
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4"><div id="s-f999c3e2-36f5-4190-96f4-09d5950227c6"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><div style="width: 100%; text-align: left;">{{ product.featured_image | img_url: '100x100' | img_tag: product.featured_image.alt }}</div></div>

</div>
</div>
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4">

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-571d6818-c3f8-4bf0-9042-d74f42d03539">
  
    
      <img
        
        
        src="https://i.shgcdn.com/af890187-17f0-45b3-9930-434e05aac941/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
        decoding="async"
        loading="eager"
      />
    
  
  
  
  
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-571d6818-c3f8-4bf0-9042-d74f42d03539' })
  </script>

</div>
      
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4">

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-c9e5653a-f608-4400-8260-d23528ddb342">
  
    
      <img
        
        
        src="https://i.shgcdn.com/4bcb9ed0-1e7a-46d6-b310-9685afb44610/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
        decoding="async"
        loading="eager"
      />
    
  
  
  
  
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-c9e5653a-f608-4400-8260-d23528ddb342' })
  </script>

</div>
      
      
      
      
    </div>
  </div>

<div id="s-fcb06928-7c91-4bda-95d6-0f995cdf1239"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-family: 'Open Sans'; font-size: 20px;"><span style="text-decoration: line-through; color: #808080; font-weight: 200; font-size: 14px;">$1997 </span><span style="font-size: 24px;"><strong><span style="font-size: 30px;">{{product.variants[0].price | plus:40000 | money_without_trailing_zeros}}</span></strong></span></span></p></div>

</div>
<div id="s-348b7ca9-efaf-4aee-a1fe-e0ebd1707bf3"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 20px; text-align: center;"><span style="font-size: 14px;"><em>or 4 Payments </em></span><span style="font-size: 16px;"><span style="font-size: 14px;"><em>of</em> &nbsp;</span><span style="font-size: 20px;"><strong>{{product.variants[0].price | plus:40000 | divided_by: 4 | money_without_trailing_zeros}}!</strong></span></span></p></div>

</div>
<div id="s-dd222a96-f6e3-489e-91a7-7211aa589102-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-dd222a96-f6e3-489e-91a7-7211aa589102"
    class="shg-btn shg-cse "
    href="/cart/33480025636995:1,33097690349699:1,32377523536003:1,36655747530911:1,36758906306719:1,40386354315423:1,{{product.variants[0].id}}:1"
    >
      <b>JUMPSTART PACKAGE REGISTRATION</b>
  </a>
</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-c8a979a9-3758-45eb-90f1-9fd592ed7750"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-cb2a0d38-0bba-4f73-82eb-f59a665df074"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      FREC PRE COURSE INCLUDED
    
  </h4>
</div>

</div>
<div id="s-a9a8cb26-1b58-481a-8c23-b665d39316c5"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Instructor-Led FL 63-Hour Sales Associate Pre-Licensing&nbsp;Class
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        <div id="s-b2ad7b8c-fb79-4735-aa6a-892972f678d8"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><div style="width: 80%; text-align: center;">{{ product.featured_image | img_url: '150x150' | img_tag: product.featured_image.alt }}</div>
<p><strong>{{ product.title }}</strong></p>
<p>Florida Real Estate Commission (FREC) Required Pre-Licensing Course</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Digital Materials
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-acecb9f8-5f5f-4b5e-9e52-4b4b57d215d3"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/42613b4b-1910-4235-8143-9b21216339c4/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Digital Course Materials Included" width="200" height="200"></p>
<p>Access Your Class Materials, Powerpoints, Flashcards, Practice Exam, Licensing Guide &amp; more on the Go</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Course Textbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-c6bfe700-189e-4f58-be2c-744b6a1ec054"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/60463e3c-4cf0-4c81-9685-5a62db11b9d6/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Florida Sales Associate Pre-Licensing Textbook Included with Class" width="200" height="200"></p>
<p>Dearborn Principles, Practices &amp; Law</p>
<p>Physical Textbook Shipped to You</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ 1-Year Retake Guarantee
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-8e2f7763-0aa3-4cfa-80f4-f2f2158ab049"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p>If you don't pass your end-of-course exam <em><strong>you're backed by our 1-Year Retake Guarantee</strong></em>. The FREC will require you to wait 30 days before re-testing. If you still don't pass after retesting, you are able to <strong>re-attend a class a no charge within 1-year of your registration date.</strong></p>
<p>Trying to pass on the first try? Rest assured, this typically isn't a concern with our <strong>course pass rates above 90%!</strong></p></div>

</div>

      </div>
    </div>
  
</div>

</div>
<div id="s-af8a179f-0c45-45ef-8603-6f0e56ce67d2"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      INCLUDES ALL EXAM PREP
    
  </h4>
</div>

</div>
<div id="s-495b43a9-9061-4dde-a593-48dd2d28e54c"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Pass First Try Bundle
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        <div id="s-2abb5276-225f-454f-a5d7-a886ebd04563" class="shg-c shg-product rca-product-view  "  data-is-product-box="true">
  
    <script type="text/javascript">
      window.__shgProductInits = window.__shgProductInits || new Array();
      window.__shgProductCallbacks = window.__shgProductCallbacks || {};
      window.__shgProductComponent = window.__shgProductComponent || {};
      window.__shgProductCallbacks["s-2abb5276-225f-454f-a5d7-a886ebd04563"] = new Array();
      
        window.__shgMoneyFormat = window.__shgMoneyFormat || {"USD":{"currency":"USD","currency_symbol":"$","currency_symbol_location":"left","decimal_places":2,"decimal_separator":".","thousands_separator":","}};
      
    </script>
  

  <div id="s-3d13bdf2-2158-41bc-97bc-9f783fb58678"  class="shg-c  shg-align-center">
  <div class="shg-product-image-wrapper" data-shg-product-target="product-image-wrapper" >
  
      
      <img
        class="shogun-image"
        alt="Pass First Try Package | Real Estate Exam Prep For Sales Associates Exam Prep Tampa School of Real Estate "
        style=""
        
        data-shg-product-target="product-image"
        decoding="async"
        
        
      />
  
</div>


  <script type="text/javascript">
    window.__shgProductCallbacks["s-2abb5276-225f-454f-a5d7-a886ebd04563"].push({
      cb: "image",
      data: {
        uuid: "s-3d13bdf2-2158-41bc-97bc-9f783fb58678",
        imageOffsetTop: 1685,
        LAZY_LOAD_OFFSET_TOP: 750,
        LAZY_LOAD_ENABLED: true
      }
    });
  </script>


</div>
<div id="s-6c056e7b-cfc1-4796-b3b6-e885a5fd14ed"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p>Add Exam Prep Specifically Designed to Cut Through to the Most Essential Need-to-Know Information Only. Take the Guesswork Out of Studying.</p></div>

</div>

  
    <script type="text/javascript">
      window.__shgProductInits.push({
        uuid: "s-2abb5276-225f-454f-a5d7-a886ebd04563",
        platform: "shopify",
        currency: "USD",
        productId: "5794831794335",
        staticVariant: false,
        
        
        
        
        
          productHandle: "pass-first-try-exam-prep",
          productVariantId: 36758906306719
        
      });
      window.__shgProductCallbacks["s-2abb5276-225f-454f-a5d7-a886ebd04563"].push({
        cb: "box",
        data: {
          uuid: "s-2abb5276-225f-454f-a5d7-a886ebd04563"
        }
      });
    </script>
  
</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ MP3 Online Audio Review
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-5903fb2e-bc65-43d2-b605-4472947d89fd"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/0195ae2b-2d6d-421f-8d79-7d74e6916cd0/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="MP3 Audio Review for FL Sales Associates" width="200" height="200"></p>
<p>5-Hour Condensed Key Points - Listen on Repeat Anytime You Can</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Question Simulator
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-4f9c5fa9-bf29-44ec-887c-a43e19dfdc3b"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/2929ca55-1cee-45fc-9906-84275d1f5e53/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="FL Real Estate Practice Exam Question Simulator" width="200" height="200"></p>
<p>Test Your Knowledge with 700+ Practice Questions &amp; Explanations</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Prep Recordings
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-513b56d9-c159-43d5-a49b-14a4808e8cb5"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/3d21b4e2-0d5f-46e7-b47a-6213d955c5b8/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Weekend Cram Recordings" width="200" height="200"></p>
<p>Build Your Confidence in a 14 Hour Condensed Video Review - Recorded Live</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Exam Prep Workbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-27e7140a-2126-44bd-b738-3e34e938806e"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/fc6f775c-63c0-4fe3-8f85-75b847a55016/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Weekend Cram Workbook Included" width="200" height="200"></p>
<p>Condensed Review - 20% Length of Textbook</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Secrets of the Exam
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-052dcafd-4eee-42c8-b7e7-7aa71bf96834"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/46134c72-f1bb-45ce-9b72-10fdedd7bb6b/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="FL Real Estate License Exam Prep Tips and Study Tricks" width="200" height="200"></p>
<p>Tips &amp; Tricks to Prepare for the Exams</p></div>

</div>

      </div>
    </div>
  
</div>

</div>
<div id="s-fcbd1f5e-53ad-4b66-ad09-ea72240de1ce"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      REQUIRED AFTER LICENSED
    
  </h4>
</div>

</div>
<div id="s-0fa01928-3b0a-4540-a3f9-e7dcc47da0bf"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion shogun-accordion-active">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Instructor-Led FL 45 Hour Sales Associate Post Licensing
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body shogun-accordion-active">
        <div id="s-8fe110d7-b07a-4dc5-96d6-c64cbd277fc4"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/4bcb9ed0-1e7a-46d6-b310-9685afb44610/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="FL Sales Associate Post Licensing Included" width="200" height="200"></p>
<p>Jumpstart Your New Career by Taking Post Licensing As Soon as Your're Licensed!</p>
<p><strong><em>Course Focuses on Building Business vs Exam Prep.</em></strong></p></div>

</div>

      </div>
    </div>
  
</div>

</div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-a0da0b04-a7ce-4b5a-9bd2-de3570aa0b31"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-3d65624c-f99c-4cd5-8af6-6fa6b214caca"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 18px;"><strong><span style="font-family: 'Open Sans'; letter-spacing: 3px;">ACE THE EXAM</span></strong></span></p></div>

</div>

      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-d97b4c7c-10a6-4426-af02-88a72ee51eed"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-5b40e36c-f66f-4b12-9baa-d26e421588e4"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 30px; text-align: center;"><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">PASS FIRST TRY BUNDLE</span></p></div>

</div>
<div id="s-b8a79e55-be9c-40f2-9652-655f33e3bf50"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 12px; letter-spacing: 4px; color: #808080;"><strong><span style="font-family: 'Open Sans';">+ PREP TOOLS TO ACE THE EXAM</span></strong></span></p></div>

</div>

  <div
    class="shg-c  "
    id="s-1182ee4d-4fab-435b-b3c7-8821609c0fde"
    >
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-6"><div id="s-8b7c2467-7e56-4448-8fae-8221abda4a36"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><div style="width: 100%; text-align: left;">{{ product.featured_image | img_url: '150x150' | img_tag: product.featured_image.alt }}</div></div>

</div>
</div>
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-6">

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-27b6f5a3-353e-43e5-95d3-eb7e1484f485">
  
    
      <img
        
        
        src="https://i.shgcdn.com/af890187-17f0-45b3-9930-434e05aac941/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
        decoding="async"
        loading="eager"
      />
    
  
  
  
  
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-27b6f5a3-353e-43e5-95d3-eb7e1484f485' })
  </script>

</div>
      
      
      
      
    </div>
  </div>

<div id="s-ca062360-d863-4bfc-92b0-cfb20f00f9e2"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-family: 'Open Sans'; font-size: 20px;"><span style="text-decoration: line-through; color: #808080; font-weight: 200; font-size: 14px;">$1497 </span><span style="font-size: 24px;"><strong><span style="font-size: 30px;">{{product.variants[0].price | plus:15000 | money_without_trailing_zeros}}</span></strong></span></span></p></div>

</div>
<div id="s-bffa1584-a6ef-4d2c-adc3-e05077e28969"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-size: 14px;"><em>or 4 Payments </em></span><span style="font-size: 16px;"><span style="font-size: 14px;"><em>of</em></span><span style="font-size: 20px;"> <strong>{{product.variants[0].price | plus:15000 | divided_by: 4 | money_without_trailing_zeros}}!</strong></span></span></p></div>

</div>
<div id="s-0c902a93-c864-4aad-adb2-6df5ea55e71c-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-0c902a93-c864-4aad-adb2-6df5ea55e71c"
    class="shg-btn shg-cse "
    href="/cart/33480025636995:1,33097690349699:1,32377523536003:1,36655747530911:1,36758906306719:1,{{product.variants[0].id}}:1"
    >
      <b>REGISTER + EXAM PREP</b>
  </a>
</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-baf947d9-1d8d-486c-a56e-5a1333e8e5d2"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-5825b298-9093-478a-a44b-40c185980983"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      INCLUDES ALL EXAM PREP
    
  </h4>
</div>

</div>
<div id="s-0e8f141e-128b-467c-bc38-754cf5f6a1b6"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Pass First Try Bundle
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-0b626296-2742-4a30-9811-423d9d26f1cf" class="shg-c shg-product rca-product-view  "  data-is-product-box="true">
  
    <script type="text/javascript">
      window.__shgProductInits = window.__shgProductInits || new Array();
      window.__shgProductCallbacks = window.__shgProductCallbacks || {};
      window.__shgProductComponent = window.__shgProductComponent || {};
      window.__shgProductCallbacks["s-0b626296-2742-4a30-9811-423d9d26f1cf"] = new Array();
      
        window.__shgMoneyFormat = window.__shgMoneyFormat || {"USD":{"currency":"USD","currency_symbol":"$","currency_symbol_location":"left","decimal_places":2,"decimal_separator":".","thousands_separator":","}};
      
    </script>
  

  <div id="s-96dbb064-96c0-426d-af1e-d041fba37899"  class="shg-c  shg-align-center">
  <div class="shg-product-image-wrapper" data-shg-product-target="product-image-wrapper" >
  
      
      <img
        class="shogun-image"
        alt="Pass First Try Package | Real Estate Exam Prep For Sales Associates Exam Prep Tampa School of Real Estate "
        style=""
        
        data-shg-product-target="product-image"
        decoding="async"
        
        
      />
  
</div>


  <script type="text/javascript">
    window.__shgProductCallbacks["s-0b626296-2742-4a30-9811-423d9d26f1cf"].push({
      cb: "image",
      data: {
        uuid: "s-96dbb064-96c0-426d-af1e-d041fba37899",
        imageOffsetTop: 1060,
        LAZY_LOAD_OFFSET_TOP: 750,
        LAZY_LOAD_ENABLED: true
      }
    });
  </script>


</div>
<div id="s-01306330-df4f-46c7-ac80-f3a9c2290c5d"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p>Add Exam Prep Specifically Designed to Cut Through to the Most Essential Need-to-Know Information Only. Take the Guesswork Out of Studying.</p></div>

</div>

  
    <script type="text/javascript">
      window.__shgProductInits.push({
        uuid: "s-0b626296-2742-4a30-9811-423d9d26f1cf",
        platform: "shopify",
        currency: "USD",
        productId: "5794831794335",
        staticVariant: false,
        
        
        
        
        
          productHandle: "pass-first-try-exam-prep",
          productVariantId: 36758906306719
        
      });
      window.__shgProductCallbacks["s-0b626296-2742-4a30-9811-423d9d26f1cf"].push({
        cb: "box",
        data: {
          uuid: "s-0b626296-2742-4a30-9811-423d9d26f1cf"
        }
      });
    </script>
  
</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ MP3 Online Audio Review
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-77bfe966-9931-4a0c-8e2d-d412517a766c"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/0195ae2b-2d6d-421f-8d79-7d74e6916cd0/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="MP3 Audio Review for FL Sales Associates" width="200" height="200"></p>
<p>5-Hour Condensed Key Points - Listen on Repeat Anytime You Can</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Question Simulator
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-682017ee-16c3-488a-8e6c-8bb2000ebfe8"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/2929ca55-1cee-45fc-9906-84275d1f5e53/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="FL Real Estate Practice Exam Question Simulator" width="200" height="200"></p>
<p>Test Your Knowledge with 700+ Practice Questions &amp; Explanations</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Prep Recordings
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-716693ef-1410-48c6-b574-7afc31b52d91"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/3d21b4e2-0d5f-46e7-b47a-6213d955c5b8/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Weekend Cram Recordings" width="200" height="200"></p>
<p>Build Your Confidence in a 14 Hour Condensed Video Review - Recorded Live</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Exam Prep Workbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-95bb86f0-ca62-457d-ab7e-de1a006ff2f5"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/fc6f775c-63c0-4fe3-8f85-75b847a55016/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Weekend Cram Workbook Included" width="200" height="200"></p>
<p>Condensed Review - 20% Length of Textbook</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Secrets of the Exam
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-4c54a121-d776-4c07-b178-1d89653e0a9d"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/46134c72-f1bb-45ce-9b72-10fdedd7bb6b/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="FL Real Estate License Exam Prep Tips and Study Tricks" width="200" height="200"></p>
<p>Tips &amp; Tricks to Prepare for the Exams</p></div>

</div>

      </div>
    </div>
  
</div>

</div>
<div id="s-06850304-2d93-4a69-87d8-f99670c72fd8"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      FREC COURSE INCLUDED
    
  </h4>
</div>

</div>
<div id="s-264b39cd-98e0-40c3-9d7f-b945a965c255"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Instructor-Led FL 63-Hour Sales Associate Pre-Licensing&nbsp;Class
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-26d39cc5-b0fc-44d1-a288-060bb024e2cc"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><div style="width: 80%; text-align: center;">{{ product.featured_image | img_url: '150x150' | img_tag: product.featured_image.alt }}</div>
<p><strong>{{ product.title }}</strong></p>
<p>Florida Real Estate Commission (FREC) Required Pre-Licensing Course</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Digital Materials
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-119de3db-32e4-4242-a4f3-dbed38d80c83"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/42613b4b-1910-4235-8143-9b21216339c4/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Digital Course Materials Included" width="200" height="200"></p>
<p>Access Your Class Materials, Powerpoints, Flashcards, Practice Exam, Licensing Guide &amp; more on the Go</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Course Textbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-7f243662-40d8-4ecc-8352-3071f7d008d8"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/60463e3c-4cf0-4c81-9685-5a62db11b9d6/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Florida Sales Associate Pre-Licensing Textbook Included with Class" width="200" height="200"></p>
<p>Dearborn Principles, Practices &amp; Law</p>
<p>Physical Textbook Shipped to You</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ 1-Year Retake Guarantee
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-a139fbd7-4624-442c-a6a0-3917f7812aeb"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p>If you don't pass your end-of-course exam <em><strong>you're backed by our 1-Year Retake Guarantee</strong></em>. The FREC will require you to wait 30 days before re-testing. If you still don't pass after retesting, you are able to <strong>re-attend a class a no charge within 1-year of your registration date.</strong></p>
<p>Trying to pass on the first try? Rest assured, this typically isn't a concern with our <strong>course pass rates above 90%!</strong></p></div>

</div>

      </div>
    </div>
  
</div>

</div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
      
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-64ce3239-d576-4a5b-8daf-f0ebdf7dec5a"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-c77a12b4-b6fe-4e01-9825-d93e6bdebeb2"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 16px;"><strong><span style="font-family: 'Open Sans'; letter-spacing: 3px;">GET STARTED</span></strong></span></p></div>

</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-b09c892a-aa04-45e8-9509-b7df4ee16091"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-897da7f3-ff84-46b2-ae78-a2754df4f4a9"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 30px; text-align: center;"><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">COURSE </span><span style="font-family: 'Bebas Neue'; font-size: 48px; letter-spacing: 3px;">ESSENTIALS</span></p></div>

</div>
<div id="s-7e0a9a16-e2ff-4006-8a6a-1547a4a0ed20"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 12px; letter-spacing: 4px; color: #808080;"><strong><span style="font-family: 'Open Sans';">COURSE + TEXTBOOK +DIGITAL MATERIALS</span></strong></span></p></div>

</div>
<div id="s-877f8b7d-082f-4790-b9cb-61824f93ccbb"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><div style="width: 80%; text-align: center;">{{ product.featured_image | img_url: '150x150' | img_tag: product.featured_image.alt }}</div></div>

</div>
<div id="s-081dff28-31e0-4612-9107-226f90b9c20e"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: center;"><span style="font-family: 'Open Sans'; font-size: 20px;"><span style="text-decoration: line-through; color: #808080; font-weight: 200; font-size: 14px;">$997 </span><span style="font-size: 24px;"><strong><span style="font-size: 30px;">{{product.variants[0].price | money_without_trailing_zeros}}</span></strong></span></span></p></div>

</div>
<div id="s-4023580e-035a-47bb-ad23-cb035d9a9955"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 20px; text-align: center;"><span style="font-size: 14px;"><em>or 4 Payments </em></span><span style="font-size: 16px;"><span style="font-size: 14px;"><em>of</em> </span><strong>{{product.variants[0].price | divided_by: 4 | money_without_trailing_zeros}}!</strong></span></p></div>

</div>
<div id="s-dbd61b16-51af-48e6-839a-5949bc6cac84-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-dbd61b16-51af-48e6-839a-5949bc6cac84"
    class="shg-btn shg-cse "
    href="/cart/33097690349699:1,36655747530911:1,32377523536003:1,{{product.variants[0].id}}:1"
    >
      <b>REGISTER NOW</b>
  </a>
</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-cd5393f6-89c3-4224-a0cd-2daf201d5e47"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-ace4c533-f389-4be7-8501-74ff400b982a"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h4>
    
      FREC COURSE INCLUDED
    
  </h4>
</div>

</div>
<div id="s-f76ab0cf-89d2-4e10-8bd8-40cfb241f6a2"  class="shg-c  ">
  <div class="shogun-accordion-wrapper" data-multi="">
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Instructor-Led FL 63-Hour Sales Associate Pre-Licensing&nbsp;Class
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-ee01de72-d33f-4755-8f9d-2f928978580c"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><div style="width: 80%; text-align: center;">{{ product.featured_image | img_url: '150x150' | img_tag: product.featured_image.alt }}</div>
<p><strong>{{ product.title }}</strong></p>
<p>Florida Real Estate Commission (FREC) Required Pre-Licensing Course</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Digital Materials
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-0fc82876-9e05-47a8-b172-fe90a7932904"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/42613b4b-1910-4235-8143-9b21216339c4/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Digital Course Materials Included" width="200" height="200"></p>
<p>Access Your Class Materials, Powerpoints, Flashcards, Practice Exam, Licensing Guide &amp; more on the Go</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ Course Textbook
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-9139940e-2f3c-41b7-b06b-74a23ab8e066"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.shgcdn.com/60463e3c-4cf0-4c81-9685-5a62db11b9d6/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Florida Sales Associate Pre-Licensing Textbook Included with Class" width="200" height="200"></p>
<p>Dearborn Principles, Practices &amp; Law</p>
<p>Physical Textbook Shipped to You</p></div>

</div>

      </div>
    </div>
  
    <div class="shogun-accordion">
      <div class="shogun-accordion-heading">
        <div class="shogun-accordion-header">
          <h4 class="shogun-accordion-title">
            ✅ 1-Year Retake Guarantee
          </h4>
          
        </div>
      </div>

      <div class="shogun-accordion-body">
        <div id="s-2255956a-172c-4561-838a-41d90f13a093"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p>If you don't pass your end-of-course exam <em><strong>you're backed by our 1-Year Retake Guarantee</strong></em>. The FREC will require you to wait 30 days before re-testing. If you still don't pass after retesting, you are able to <strong>re-attend a class a no charge within 1-year of your registration date.</strong></p>
<p>Trying to pass on the first try? Rest assured, this typically isn't a concern with our <strong>course pass rates above 90%!</strong></p></div>

</div>

      </div>
    </div>
  
</div>

</div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>

      </div>
    </div>
  </div>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-05-23-3112/global-assets-f5602d18bd5dc4e288d52d5a81f2bb4516bea9ca.js" defer></script>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-05-23-3112/add_ons_asset_646fa6f837897800f43d149f.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Copy of SLPRE 1.4",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=646e8ca2055ba900d73460ac&shop=tampaschoolofrealestate.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Copy of SLPRE 1.4",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
